// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$basket-name: 'basket';
$basket-x: 0px;
$basket-y: 39px;
$basket-offset-x: 0px;
$basket-offset-y: -39px;
$basket-width: 18px;
$basket-height: 18px;
$basket-total-width: 35px;
$basket-total-height: 415px;
$basket-image: '../img/sprite.png';
$basket: (0px, 39px, 0px, -39px, 18px, 18px, 35px, 415px, '../img/sprite.png', 'basket', );
$house-name: 'house';
$house-x: 0px;
$house-y: 111px;
$house-offset-x: 0px;
$house-offset-y: -111px;
$house-width: 23px;
$house-height: 22px;
$house-total-width: 35px;
$house-total-height: 415px;
$house-image: '../img/sprite.png';
$house: (0px, 111px, 0px, -111px, 23px, 22px, 35px, 415px, '../img/sprite.png', 'house', );
$language-name: 'language';
$language-x: 0px;
$language-y: 138px;
$language-offset-x: 0px;
$language-offset-y: -138px;
$language-width: 23px;
$language-height: 23px;
$language-total-width: 35px;
$language-total-height: 415px;
$language-image: '../img/sprite.png';
$language: (0px, 138px, 0px, -138px, 23px, 23px, 35px, 415px, '../img/sprite.png', 'language', );
$location-name: 'location';
$location-x: 0px;
$location-y: 19px;
$location-offset-x: 0px;
$location-offset-y: -19px;
$location-width: 13px;
$location-height: 15px;
$location-total-width: 35px;
$location-total-height: 415px;
$location-image: '../img/sprite.png';
$location: (0px, 19px, 0px, -19px, 13px, 15px, 35px, 415px, '../img/sprite.png', 'location', );
$phone-blue-name: 'phone-blue';
$phone-blue-x: 0px;
$phone-blue-y: 0px;
$phone-blue-offset-x: 0px;
$phone-blue-offset-y: 0px;
$phone-blue-width: 14px;
$phone-blue-height: 14px;
$phone-blue-total-width: 35px;
$phone-blue-total-height: 415px;
$phone-blue-image: '../img/sprite.png';
$phone-blue: (0px, 0px, 0px, 0px, 14px, 14px, 35px, 415px, '../img/sprite.png', 'phone-blue', );
$phone-contact-name: 'phone-contact';
$phone-contact-x: 0px;
$phone-contact-y: 86px;
$phone-contact-offset-x: 0px;
$phone-contact-offset-y: -86px;
$phone-contact-width: 10px;
$phone-contact-height: 20px;
$phone-contact-total-width: 35px;
$phone-contact-total-height: 415px;
$phone-contact-image: '../img/sprite.png';
$phone-contact: (0px, 86px, 0px, -86px, 10px, 20px, 35px, 415px, '../img/sprite.png', 'phone-contact', );
$product-icon-1-name: 'product-icon_1';
$product-icon-1-x: 0px;
$product-icon-1-y: 252px;
$product-icon-1-offset-x: 0px;
$product-icon-1-offset-y: -252px;
$product-icon-1-width: 35px;
$product-icon-1-height: 37px;
$product-icon-1-total-width: 35px;
$product-icon-1-total-height: 415px;
$product-icon-1-image: '../img/sprite.png';
$product-icon-1: (0px, 252px, 0px, -252px, 35px, 37px, 35px, 415px, '../img/sprite.png', 'product-icon_1', );
$product-icon-2-name: 'product-icon_2';
$product-icon-2-x: 0px;
$product-icon-2-y: 378px;
$product-icon-2-offset-x: 0px;
$product-icon-2-offset-y: -378px;
$product-icon-2-width: 35px;
$product-icon-2-height: 37px;
$product-icon-2-total-width: 35px;
$product-icon-2-total-height: 415px;
$product-icon-2-image: '../img/sprite.png';
$product-icon-2: (0px, 378px, 0px, -378px, 35px, 37px, 35px, 415px, '../img/sprite.png', 'product-icon_2', );
$product-icon-3-name: 'product-icon_3';
$product-icon-3-x: 0px;
$product-icon-3-y: 294px;
$product-icon-3-offset-x: 0px;
$product-icon-3-offset-y: -294px;
$product-icon-3-width: 35px;
$product-icon-3-height: 37px;
$product-icon-3-total-width: 35px;
$product-icon-3-total-height: 415px;
$product-icon-3-image: '../img/sprite.png';
$product-icon-3: (0px, 294px, 0px, -294px, 35px, 37px, 35px, 415px, '../img/sprite.png', 'product-icon_3', );
$product-icon-4-name: 'product-icon_4';
$product-icon-4-x: 0px;
$product-icon-4-y: 336px;
$product-icon-4-offset-x: 0px;
$product-icon-4-offset-y: -336px;
$product-icon-4-width: 35px;
$product-icon-4-height: 37px;
$product-icon-4-total-width: 35px;
$product-icon-4-total-height: 415px;
$product-icon-4-image: '../img/sprite.png';
$product-icon-4: (0px, 336px, 0px, -336px, 35px, 37px, 35px, 415px, '../img/sprite.png', 'product-icon_4', );
$search-product-name: 'search-product';
$search-product-x: 0px;
$search-product-y: 222px;
$search-product-offset-x: 0px;
$search-product-offset-y: -222px;
$search-product-width: 26px;
$search-product-height: 25px;
$search-product-total-width: 35px;
$search-product-total-height: 415px;
$search-product-image: '../img/sprite.png';
$search-product: (0px, 222px, 0px, -222px, 26px, 25px, 35px, 415px, '../img/sprite.png', 'search-product', );
$search-name: 'search';
$search-x: 0px;
$search-y: 166px;
$search-offset-x: 0px;
$search-offset-y: -166px;
$search-width: 23px;
$search-height: 23px;
$search-total-width: 35px;
$search-total-height: 415px;
$search-image: '../img/sprite.png';
$search: (0px, 166px, 0px, -166px, 23px, 23px, 35px, 415px, '../img/sprite.png', 'search', );
$user-name: 'user';
$user-x: 0px;
$user-y: 194px;
$user-offset-x: 0px;
$user-offset-y: -194px;
$user-width: 23px;
$user-height: 23px;
$user-total-width: 35px;
$user-total-height: 415px;
$user-image: '../img/sprite.png';
$user: (0px, 194px, 0px, -194px, 23px, 23px, 35px, 415px, '../img/sprite.png', 'user', );
$zoom-btn-name: 'zoom-btn';
$zoom-btn-x: 0px;
$zoom-btn-y: 62px;
$zoom-btn-offset-x: 0px;
$zoom-btn-offset-y: -62px;
$zoom-btn-width: 19px;
$zoom-btn-height: 19px;
$zoom-btn-total-width: 35px;
$zoom-btn-total-height: 415px;
$zoom-btn-image: '../img/sprite.png';
$zoom-btn: (0px, 62px, 0px, -62px, 19px, 19px, 35px, 415px, '../img/sprite.png', 'zoom-btn', );
$spritesheet-width: 35px;
$spritesheet-height: 415px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($basket, $house, $language, $location, $phone-blue, $phone-contact, $product-icon-1, $product-icon-2, $product-icon-3, $product-icon-4, $search-product, $search, $user, $zoom-btn, );
$spritesheet: (35px, 415px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
