footer.footer
	.container
		.footer__top
			+logo("Blauberg", "footer-logo.jpg", false)
		.footer__bottom
			.footer__copyright
				| BLAUBERG &copy; Все права защищены
			-
				var items = ['O Blauberg', 'Политика конфедициальности', 'Карта сайта', 'Вакансии', 'FAQ', 'Условия использоввания сайта'];

			+menu(items, '', '')