.nav {
	display: flex;
	align-items: center;
	margin-bottom: -40px;
	box-shadow: -6px 4px 20px 0px rgba(0, 0, 0, 0.45);


	&__list {
		width: 85%;
		font-size: 0;
		background: #35383d;
		border-top: 2px solid #72787f;
	}

	&__item {
		display: inline-block;
		position: relative;

		&:first-child:hover {
			& .nav__list-secondfloor {
				display: block;
			}
		}
	}

	&__link {
		display: block;
		padding: 30px 25px;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		transition: .3s;
		position: relative;
		

		&:hover {
			background: repeating-radial-gradient(rgba(255, 255, 255, 0.43),rgba(255, 255, 255, 0), #35383d);

			&:after {
				transform: scale(1);
			}
		}


		&:after {
			display: block;
			content: '';
			width: 35%;
			height: 4px;
			background: #2f6cd6;
			position: absolute;
			top: 0;
			right: 0;
			bottom: -50px;
			left: 0;
			margin: auto;
			transform: scale(0);
			transition: .3s;
		}

		&_icon {
			padding-left: 45px;

			&:before {
				display: inline-block;
				content: '';
				margin-right: 10px;
				border-radius: 50%;
				@include sprite($house);
				padding: 3px;
				background-repeat: no-repeat;
				background-position: 0 -107px;
				position: absolute;
				left: 20px;
				top: 26px;
			}
		}
	}

	&__list-secondfloor {
		display: none;
		width: 330px;
		font-size: 12px;
		background: #0072bb;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
	}

	&__item-secondfloor {
		display: block;
		padding: 0 20px;

		&:hover {
			background: #21409a;

			& .nav__link-secondfloor {
				border-color: #21409a;
			}
		}
	}

	&__link-secondfloor {
		display: block;
		padding: 20px 0;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid #0b7dc6;
	}

}

.basket {
	width: 15%;
	text-align: center;
	border-top: 2px solid #4aa4d5;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 27px 0;
		color: #fff;
		text-decoration: none;
		background: $blue;
		position: relative;

		&:hover {
			background: $blue-dark;
		}

		&:before {
			display: inline-block;
			content: '';
			margin-right: 10px;
			background: #fff;
			border-radius: 50%;
			@include sprite($basket);
			padding: 3px;
			background-repeat: no-repeat;
			background-position: 3px -36px;
		}

		// &:after {
		// 	display: block;
		// 	content: '';
		// 	width: 18px;
		// 	height: 100%;
		// 	background: url(../img/basket-corner.png) no-repeat;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 100%;
		// }
	}
}